<div class="cuerpo">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top-ptn">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/img/roundPromedio.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Pondera Tus Notas</a>
  </nav>
  <div class="container vh-100">
    <div class="row vh-100 pd-56 justify-content-center align-items-center">
      <div class="col-lg-8 promo-texto">
        <h1>Ahórrate esas fórmulas matemáticas complejas.<br>¡Calcula tus notas y promedios con <strong>Pondera Tus
            Notas</strong>!</h1>
      </div>
      <div class="col-lg-4">
        <div class="text-center promo-imagen">
          <img src="../../../assets/img/promo-celular.png" class="img-fluid promo-celular">
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <button class="btn btn-outline-danger btn-lg" routerLink="/promedio">Calcula tu promedio</button>
      </div>
      <div class="col-lg-4 text-center">
        <button class="btn btn-outline-danger btn-lg" routerLink="/escala">Calcular escalas</button>
      </div>
      <div class="col-lg-4 text-center">
        <div class="boton">
          <a class="badge-link"
            href='https://play.google.com/store/apps/details?id=com.lpalominos.calculatupromedio&hl=es_CL&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
              alt='Disponible en Google Play'
              src='https://play.google.com/intl/en_us/badges/images/generic/es-419_badge_web_generic.png' /></a>
        </div>
      </div>
    </div>
  </div>
</div>